body{
    margin: 0;
    padding: 0;
    font-family: 'Tilt Warp',sans-serif;
    background-color:  white;
}
nav .logo {
	width: 80px;
	cursor: pointer;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid gray;
}
nav h1{
    color: rgb(45, 42, 38);
    font-family: 'Tilt Warp',sans-serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 500px;
}
nav .onglets a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("https://th.bing.com/th/id/R.314df69743568f1fafa9f3b4c955109a?rik=NkGvGQo%2fJq3kPw&riu=http%3a%2f%2f1.bp.blogspot.com%2f-tzALFs0rD6o%2fT00d1yv-TpI%2fAAAAAAAAALA%2fZwLqo-uSml8%2fs1600%2fJerusalem_Israel1.jpg&ehk=wFScU6JsYgpEsxF7OOYY1jBOaKVukXPTIEzdiqOSNrs%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    color: white;
    padding: 50px;
}
header h1{
    font-family: 'Tilt Warp',sans-serif;
    font-size: 50px;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
}
header button{
    padding: 10px 20px;
    background-color: aliceblue;
    color: black;
    border: none;
    font-size: 20px;
    font-family: 'Tilt Warp',sans-serif;
    cursor: pointer;
}
main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;  
   
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
   
}
.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 50px;
}
.main .content .card.right{
    flex: 0 0 70%;
}
.main .content .card .right img{
    height: 300px;
    width: 500px;
    margin-top:40px;
}
footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: black;
    color: white;
}
.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}
.bloc{
    width: 25%;
    margin: 0 30px;
}

.footer-sites,
.footer-info h3,
.footer-contact h3,
.footer-reseau h3{
    font-size: 25px;
    padding-bottom: 20px;

}
.footer-contact p{
    padding: 5px 0 ;
}



.liste-sites,
.liste-info,
.liste-reseau{
    list-style-type: none;
}
.liste-sites li{
    padding: 2px 0;
}
.liste-sites a{
    text-decoration: none;
    color: white;
}
.liste-sites a:hover{
    color: rgb(3,3,3);
}

.liste-reseau{
    position: relative;
    right: 10px;
}
.liste-reseau img{
    width: 40px;
    margin: 10px;

}
.liste-reseau a{
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.liste-info li{
    padding: 2px 0;
}
.liste-info a{
    text-decoration: none;
    color:white;
}
.liste-info a:hover{
    color: rgb(3,3,3);
}